@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

header {
    .header-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1160px;
        margin: 0 auto;
        padding-top: 57px;
        .header-logo-link {
            text-decoration: none;
            p {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #3A3A3A;
                text-transform: uppercase;
                img {
                    margin-right: 8px;
                }
            }
        }
    }
    nav {
        .menu {
            width: 600px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            .menu-item {
                .menu-link {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: #3A3A3A;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                .menu-link:hover{
                    color: #887D76;
                    transition: .4s linear;
                }
                .menu-link:not(:hover){
                    transition: .4s linear;
                }
            }
        }
    }
}

.categories{
    width: 100%;
    height: 323px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    .headline{
        text-align: center;
        margin: 70px 0;
        width: 190px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #3A3A3A;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        width: 1160px;
        .navigation-item {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 25%;
            height: 150px;
            .navigation-item-icon {
                margin-top: 15px;
                height: 39px;
            }
            .navigation-item-headline {
                margin-top: 50px;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                color: #3A3A3A;
                text-transform: uppercase;
            }
        }
        .navigation-item:hover{
            transition: .4s linear;
            background-color: #887D76;
            cursor: pointer;
            border-radius: 10px;
        }
        .navigation-item:not(:hover){
            transition: .4s linear;
        }
    }
}

.products{
    #block {
        margin: 80px auto;
        width: 1110px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .un {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-content: space-between;
        margin-right: 160px;
        margin-bottom: 20px;
        width: 260px;
        h3 {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 175.78%;
            text-transform: uppercase;
            color: #3A3A3A;
            margin: 28px auto 5px auto;
        }
        p {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 175.78%;
            text-transform: uppercase;
            color: #3A3A3A;
        }
        input {
            display:none;
        }
    }
    #block.string{
        display: none;
    }
    #block.percussion{
        display: none;
    }
    #block.keyboard{
        display: none;
    }
    
    .un:nth-child(3n+3){
        margin-right: 0;
    }
    
}

.btn-success{
    padding: 10px;
    background-color: #ffffff;
    border-color: #ffffff;
    margin: 0;
    border: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #3A3A3A;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-success:hover{
    transition: .4s linear;
    background-color: #887D76;
}
.btn-success:not(:hover){
    transition: .4s linear;
}

.btn-primary{
    background-color: #ffffff;
    border-color: #ffffff;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #3A3A3A;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-primary:hover{
    color: #887D76;
    background-color: #ffffff;
}
.btn-primary:not(:hover){
    transition: .4s linear;
}

.card {
    position: absolute;
    top: 10vw;
    left: 30vw;
    width: 40vw;
}

.card-header {
    text-align: left;
}

.card-header {
    background-color: #ffffff;
}

.card-footer {
    background-color: #ffffff;
}

.line {
    border-top: 1px solid #DCDCDC; /* Линия сверху текста */
	padding-top:10px;
	width: 500px;
   }
   
#total{
    padding: 0 16px 16px 16px;
	word-spacing: 70px;
}
#object {
    margin: auto;
    width: 100%;
}

#object div {
    display: flex;
}

#object div #name {
    text-align: left;
    width: 250px;
}

#object div input {
    width: 70px;
}

#object div #cost {
    text-align: center;
    width: 110px;
}

#object div img {
    width: 20px;
    height: 20px;
}
.footer{
    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #f9f9f9;
        height: 283px;
        width: 100%;
        .footer-headline{
            .headline-h3{
                margin-top: 70px;
                width: 75px;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 150%;
                color: #3A3A3A;
                text-transform: uppercase;
            }
        }
        .nav-links{
            margin-top: 14px;
            .menu {
                width: 445px;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                .menu-item {
                    .menu-link {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        color: #3A3A3A;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                    .menu-link:hover{
                        transition: .4s linear;
                        color: #887D76;
                    }
                    .menu-link:not(:hover){
                        transition: .4s linear;
                    }
                }
            }
        }
        .social-links{
            width: 106px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            margin: 40px;
            flex-wrap: wrap;
            .social-item{
                list-style-type: none;
            }
            .social-item:hover{
                transition: .4s linear;
                opacity: .4;
            }
            .social-item:not(:hover){
                transition: .4s linear;
            }
        }
        .copyright{
            .copyright-p{
                width: 349px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 10px;
                line-height: 150%;
                color: #3A3A3A;
            }
        }
    }
}

#btnUp {
	z-index:9999;
    position: fixed;
    bottom: -50px;
    right: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgba(220, 220, 220, 0.40);
    -webkit-box-shadow: 10px 10px 35px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 10px 10px 35px 5px rgba(0,0,0,0.4);
    box-shadow: 0 0 35px 5px rgba(0,0,0,0.4);
    opacity: 0;
    transition: all 0.3s ease-in;
    border-radius: 25px;
}

#btnUp:after{
    content: '';
    width: 8px;
    height: 8px;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    transform: rotate(45deg);
    margin: auto;
    top: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

@media screen and (max-width: 1200px){
    header{
        .header-section{
            max-width: 850px;
        }
    }
    .categories{
        .navigation{
            max-width: 850px;
        }
    }
    .products{
        #block{
            max-width: 850px;
            .un{
                margin-top: 20px;
                margin-right: 20px;
            }
        }
    }
}