@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14.45%, rgba(0, 0, 0, 0.71)), to(rgba(0, 0, 0, 0.04))), url(../img/background_header_discount.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.71) 14.45%, rgba(0, 0, 0, 0.04) 100%), url(../img/background_header_discount.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  color: white;
}

.main header .header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 57px;
}

.main header .header-section .header-logo-link {
  text-decoration: none;
}

.main header .header-section .header-logo-link p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: white;
  text-transform: uppercase;
}

.main header .header-section .header-logo-link p img {
  margin-right: 8px;
}

.main header nav .menu {
  width: 476px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main header nav .menu .menu-item .menu-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.main header nav .menu .menu-item .menu-link:hover {
  color: #887D76;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.main header nav .menu .menu-item .menu-link:not(:hover) {
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.main .headlines {
  max-width: 1060px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 340px;
  margin: 0 auto;
}

.main .headlines .headlines--h1 {
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.1em;
}

.main .about-us-button {
  cursor: pointer;
  max-width: 80px;
  text-align: center;
  margin: 330px auto 0 auto;
}

.main .about-us-button .headlines--p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main .about-us-button .hedlines--button {
  margin-top: 330px;
}

.discount-cards {
  display: inline-block;
  width: 100%;
}

.discount-cards .headlines {
  margin: 70px auto;
  text-align: center;
  width: 555px;
}

.discount-cards .headlines .headlines--h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #3A3A3A;
}

.discount-cards .headlines .headlines--p {
  margin-top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #3A3A3A;
}

.discount-cards .content {
  max-width: 990px;
  height: 656px;
  margin: 0 auto;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.discount-cards .content .content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 445px;
  height: 288px;
}

.discount-cards .content .content-item .upper-layer {
  width: 403px;
  height: 255px;
  background: url(../img/discount-card-background.jpg);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 3px solid #3A3A3A;
}

.discount-cards .content .content-item .upper-layer .left-rectangle {
  width: 40px;
  height: auto;
  background: #887D76;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-right: 3px solid #73665E;
}

.discount-cards .content .content-item .upper-layer .right-rectangle {
  width: 40px;
  height: auto;
  background: #887D76;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-left: 3px solid #73665E;
}

.discount-cards .content .content-item .upper-layer .center-rectangle {
  text-align: center;
  margin: 32px 0;
}

.discount-cards .content .content-item .upper-layer .center-rectangle .upper-layer-icon {
  margin-bottom: 21px;
}

.discount-cards .content .content-item .upper-layer .center-rectangle hr {
  width: 84px;
  margin: 0 auto;
  border: .6px solid #887D76;
}

.discount-cards .content .content-item .upper-layer .center-rectangle .headline-h3 {
  margin: 7px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #3A3A3A;
  text-transform: uppercase;
}

.discount-cards .content .content-item .upper-layer .center-rectangle .description {
  margin-top: 21px;
  width: 192px;
  height: 38px;
}

.discount-cards .content .content-item .upper-layer .center-rectangle .description .description-h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #3A3A3A;
}

.discount-cards .content .content-item .upper-layer .center-rectangle .description .description-p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3A3A3A;
}

.discount-cards .content .content-item .bottom-layer {
  position: absolute;
  margin-top: 33px;
  margin-left: 42px;
  width: 403px;
  height: 255px;
  background: #F9F9F9;
  border: 3px solid #3A3A3A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  z-index: -1000;
}

.discount-cards .content .content-item .bottom-layer .rectangle {
  margin-top: 22px;
  height: 49px;
  background: #3A3A3A;
}

.footer .footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f9f9f9;
  height: 283px;
  width: 100%;
}

.footer .footer-section .footer-headline .headline-h3 {
  margin-top: 70px;
  width: 75px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 150%;
  color: #3A3A3A;
  text-transform: uppercase;
}

.footer .footer-section .nav-links {
  margin-top: 14px;
}

.footer .footer-section .nav-links .menu {
  width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .footer-section .nav-links .menu .menu-item .menu-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #3A3A3A;
  text-decoration: none;
  text-transform: uppercase;
}

.footer .footer-section .nav-links .menu .menu-item .menu-link:hover {
  -webkit-transition: .4s linear;
  transition: .4s linear;
  color: #887D76;
}

.footer .footer-section .nav-links .menu .menu-item .menu-link:not(:hover) {
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.footer .footer-section .social-links {
  width: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-section .social-links .social-item {
  list-style-type: none;
}

.footer .footer-section .social-links .social-item:hover {
  -webkit-transition: .4s linear;
  transition: .4s linear;
  opacity: .4;
}

.footer .footer-section .social-links .social-item:not(:hover) {
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.footer .footer-section .copyright .copyright-p {
  width: 349px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 150%;
  color: #3A3A3A;
}

#btnUp {
  z-index: 9999;
  position: fixed;
  bottom: -50px;
  right: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(220, 220, 220, 0.4);
  -webkit-box-shadow: 10px 10px 35px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 35px 5px rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-radius: 25px;
}

#btnUp:after {
  content: '';
  width: 8px;
  height: 8px;
  border-left: 2px solid #000000;
  border-top: 2px solid #000000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: auto;
  top: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

@media screen and (max-width: 1200px) {
  .main header .header-section {
    max-width: 800px;
  }
}

@media screen and (max-width: 970px) {
  .main .headlines .headlines--h1 {
    font-size: 36px;
  }
  .discount-cards .content {
    height: auto;
  }
  .discount-cards .content .content-item {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 30px;
  }
}
/*# sourceMappingURL=discount.css.map */